#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 400px;
    background-color: rgba(40, 0, 40, 0.373);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
}

h1 {
    color: black;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px black;
    /* color: rgba(255, 0, 0, 0.57); */
    /* text-shadow: 2px 2px black; */
}

.welcomeTitleReact {
    color: #61DAFB;
    text-shadow: 2px 2px black;
}

h2 {
    color: white;
}

.text {
    color: rgb(255, 18, 255);
    font-size: 14px;
    margin-bottom: 35px;
}

button {
    color: black;
    font-size: 13px;
    border: none;
    border-radius: 20px;
    padding: 10px 60px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

button:hover {
    color: white;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.733);
}

.img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 20px 0;
    height: 310px;
    width: auto;
}

.img2 {
    position: absolute;
    margin: 30px 30px 0 0;
    height: 250px;
    width: auto;
    top: 0;
    right: 0;
}